* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.certificate {
  width: 800px;
  height: 500px;
  position: relative;
  background: linear-gradient(
    135deg,
    #9acd32 0%,
    #1c1c1c 25%,
    #1c1c1c 75%,
    #9acd32 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.content {
  color: white;
  text-align: center;
  width: 80%;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.small-text {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 10px;
}

.body-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.highlight {
  font-size: 22px;
  font-weight: bold;
  margin: 5px 0;
}

.footer-text {
  font-size: 14px;
  opacity: 0.8;
}

.vertical-line {
  width: 550px;        
  height: 2px;      
  background: white; 
  margin: 50px auto;
}

.certificate-footer {
  position: absolute;
  bottom: 25px;
  left: 40px;
  text-align: left;
  color: white;
}

.org-text {
  font-size: 14px;
  margin-bottom: 8px;
  opacity: 0.9;
}

.signature-box {
  position: relative;
  width: 180px;
  height: 60px;
}

.signature-text {
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    font-weight: normal;
}

.certificate-page {
  min-height: 100vh;
  background: #b1f782;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-btn {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 16px;
  background: #9acd32;
  border: none;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}
